<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
가드너스 회원 
-->
<mapper namespace="com.abite.web.mapper.MemberMapper">

<!-- 목록,정보 공통 칼럼 -->
<sql id="MemberColumns">
	
</sql>

<!-- 검색 조건 -->
<sql id="searchCondition">

</sql>

<select id="getMember" parameterType="map" resultType="map">
	/* FcMemberMapper.getMember */
	SELECT USER_ID, USER_NAME, USER_IMAGE
	  FROM T_MEMBER
	WHERE USER_ID = #{email} AND USE_YN = 'Y'
	LIMIT 1 	
</select>

<select id="getMemberForChat" parameterType="map" resultType="map">
	/* FcMemberMapper.getMemberForChat */
	SELECT USER_ID, USER_NAME, USER_IMAGE
	  FROM T_MEMBER
	WHERE USER_NO = #{userNo} AND USE_YN = 'Y'
	LIMIT 1 	
</select>

<select id="exsistMember" parameterType="map" resultType="int">
	SELECT COUNT(*) 
	  FROM T_MEMBER
    WHERE USER_ID = #{email}	  
</select>

<select id="getMemberInfo" parameterType="map" resultType="map">
	SELECT USER_NO, USER_ID, USER_PW, USER_NAME, USER_ADDR, SNS, USER_PHONE_NO
		  ,USER_IMAGE, LAST_CHANGE_PW_DATE, CREATE_DATETIME, CHANGE_DATETIME
	  FROM T_MEMBER
	WHERE USER_ID = #{email} AND USER_PW = password(#{password}) AND USE_YN = 'Y'
	LIMIT 1 
</select>

<insert id="addMember" parameterType="map" useGeneratedKeys="true" keyProperty="USER_NO"> 
	INSERT INTO T_MEMBER (USER_ID, USER_PW, USER_NAME ,USER_IMAGE, USER_ADDR, USER_PHONE_NO, USE_YN, LAST_CHANGE_PW_DATE, CREATE_DATETIME, CHANGE_DATETIME)
	VALUES(#{email}, password(#{password}) , #{name}, #{img}, #{addr}, #{phone_no}, 'Y', now(), now(), now())
</insert>


</mapper>
