<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
가드너스 회원 
-->
<mapper namespace="com.abite.web.mapper.MemberMapper">

<!-- 목록,정보 공통 칼럼 -->
<sql id="MemberColumns">
	
</sql>

<!-- 검색 조건 -->
<sql id="searchCondition">

</sql>

<select id="getMember" parameterType="map" resultType="map">
	/* FcMemberMapper.getMember */
	SELECT USER_ID, USER_NAME, USER_IMAGE, USER_INFO, USER_ADDR, LAT, LNG
	  FROM T_MEMBER
	WHERE USER_ID = #{email} AND USE_YN = 'Y'
	LIMIT 1 	
</select>

<select id="getMemberForSetting" parameterType="int" resultType="map">
	/* FcMemberMapper.getMember */
	SELECT USER_NO, USER_ID, USER_PW, USER_NAME, USER_ADDR, SNS, USER_PHONE_NO, USER_INFO, USER_ADDR, LAT, LNG
		  ,USER_IMAGE, LAST_CHANGE_PW_DATE, CREATE_DATETIME, CHANGE_DATETIME
	  FROM T_MEMBER
	WHERE USER_NO = #{userNo} AND USE_YN = 'Y'
	LIMIT 1 	
</select>

<select id="getMemberForChat" parameterType="map" resultType="map">
	/* FcMemberMapper.getMemberForChat */
	SELECT USER_ID, USER_NAME, USER_IMAGE, USER_ADDR, LAT, LNG
	  FROM T_MEMBER
	WHERE USER_NO = #{userNo} AND USE_YN = 'Y'
	LIMIT 1 	
</select>

<select id="exsistMember" parameterType="map" resultType="int">
	SELECT COUNT(*) 
	  FROM T_MEMBER
    WHERE USER_ID = #{email}	  
</select>

<select id="getMemberInfo" parameterType="map" resultType="map">
	SELECT USER_NO, USER_ID, USER_PW, USER_NAME, USER_ADDR, LAT, LNG, SNS, USER_PHONE_NO, USER_INFO, USER_ADDR
		  ,USER_IMAGE, LAST_CHANGE_PW_DATE, CREATE_DATETIME, CHANGE_DATETIME
	  FROM T_MEMBER
	WHERE USER_ID = #{email} AND USER_PW = password(#{password}) AND USE_YN = 'Y'
	LIMIT 1 
</select>

<select id="getAutoMemberInfo" parameterType="map" resultType="map">
	SELECT USER_NO, USER_ID, USER_PW, USER_NAME, USER_ADDR, LAT, LNG, SNS, USER_PHONE_NO, USER_INFO, USER_ADDR
		  ,USER_IMAGE, LAST_CHANGE_PW_DATE, CREATE_DATETIME, CHANGE_DATETIME
	  FROM T_MEMBER
	WHERE USER_ID = #{email} AND USE_YN = 'Y'
	LIMIT 1 
</select>

<insert id="addMember" parameterType="map" useGeneratedKeys="true" keyProperty="USER_NO"> 
	INSERT INTO T_MEMBER (USER_ID, USER_PW, USER_NAME ,USER_IMAGE, USER_ADDR, LAT, LNG, SNS, USER_PHONE_NO, USE_YN, LAST_CHANGE_PW_DATE, CREATE_DATETIME, CHANGE_DATETIME)
	VALUES(#{email}, password(#{password}) , #{name}, #{img}, #{address}, #{lat}, #{lng}, #{sns}, #{phone_no}, 'Y', now(), now(), now())
</insert>



<select id="getCategoryPercent" parameterType="map" resultType="map" >
	SELECT CAST(B.QTY/A.TOTAL_QTY  * 100 AS INTEGER) AS PERCENT, C.CODE_NM AS CATEGORY
	  FROM (
	  	SELECT COUNT(1) AS TOTAL_QTY, A.USER_NO, A.USE_YN
	  		FROM t_recipe A
	   WHERE A.USER_NO = #{userNo}  		
	  ) A
	  JOIN (
	  		SELECT COUNT(1) AS QTY, B.CATEGORY_CD, B.USER_NO, B.USE_YN
	  			FROM t_recipe B 
	  		GROUP BY B.USER_NO, B.CATEGORY_CD
	  ) B ON A.USER_NO = B.USER_NO AND A.USE_YN = B.USE_YN
		JOIN T_CODE C ON C.CODE_GROUP = 'CATEGORY' AND C.CODE_CD = B.CATEGORY_CD
	WHERE A.USER_NO = #{userNo} AND A.USE_YN = 'Y'  
	GROUP BY B.CATEGORY_CD
</select> 

</mapper>
